<div class="translate-lang-area">
  <div class="inline-flex rounded-md shadow-sm" role="group">
    <button (click)="redirectToTranslatePage('fr')" type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-gray-100 border border-gray-200 rounded-l-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-1 focus:ring-blue-300 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
      <div class="w-4 h-4 mr-2">
        <img src="./../../assets/flag/flag-wf-svgrepo-com.svg" alt="" />
      </div>
      France
    </button>
    <button (click)="redirectToTranslatePage('en')" type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-gray-100 border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-1 focus:ring-blue-300 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
      <div class="w-4 h-4 mr-2">
        <img src="./../../assets/flag/flag-us-svgrepo-com.svg" alt="" />
      </div>
      England
    </button>
    <button (click)="redirectToTranslatePage('sp')" type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-gray-100 border border-gray-200 rounded-r-md hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-1 focus:ring-blue-300 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
      <div class="w-4 h-4 mr-2">
        <img src="./../../assets/flag/flag-es-svgrepo-com.svg" alt="" />
      </div>
      Spanish
    </button>
  </div>
</div>
