.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

// === Title Container ===
.titleContainer {
  flex-direction: column;
  margin: 1.5rem 0 1.7rem 0;
}

.container-about {
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2vh 0 1vh 0;
}

.description {
  font-size: 1.1rem;
}

.getStartedButtonContainer {
  width: 100%;
  height: fit-content;
  padding: 4rem 0 0 0;
}

.getStartedButton {
  font-size: 1.15rem;
  margin: 0 0 3.5rem 0;
}

// === Assets ===
.assetsTranslateContainer {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 7rem 3rem 7rem;
}

.assetsWith2Container {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 0 7rem 3rem 7rem;
}

.imgTranslate {
  width: 86%;
  border-radius: 11px;
}

.assetsTitleWith2Container {
  padding: .5vh 0 1.8vh 2vh;
  font-size: 3.6vh;
  font-weight: 600;
}

.imgWith2Container {
  width: 70%;
  border-radius: 11px;
  margin: 0 1.5rem;
}

// == Technos ==
.technoContainer {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: rgb(200, 200, 255) 2.2px solid;
  border-bottom: rgb(200, 200, 255) 2.2px solid;
  margin: 1.2rem 0 0 0;
  padding: 4rem 2rem;
  background-color: #f2edff;
}

.technoTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 2rem 0;
}

.technoDescription {
  width: 67%;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.containerOpenai {
  width: 67%;
  font-weight: 400;
  text-align: center;  
}

.logoOpenAI {
  background-color: white;
  border-radius: 50%;
  border: rgb(236, 236, 236) 2px solid;
  padding: 4px;
}

.titleOpenai {
  font-weight: 700;
}

.logoOwner {
  width: 57px;
  height: 57px;
  transform: translateX(-20px);
  border: rgb(236, 236, 236) 2px solid;
  padding: 3px;
  background-color: white;
  border-radius: 50%;
}