<div class="container-about flexbox">
  <!-- Title container -->
  <div class="titleContainer flexbox">
    <div class="title">Speak, We Transform into Perfection</div>
    <div class="description">Crafting Linguistic Perfection from Your Words, Every Time You Speak.</div>
    <div class="getStartedButtonContainer flexbox">
      <button
        type="button"
        (click)="redirectToLoginPage()"
        class="getStartedButton text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-6 py-3 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Get started
      </button>
    </div>
  </div>
  <!-- Assets Container -->
  <!-- Translate -->
  <div class="assetsTranslateContainer">
    <div class="flexbox">
      <img src="./../../../assets/tuto/translator.png" class="imgTranslate" alt="" />
    </div>
  </div>
  <!-- Reformulate -->
  <div class="assetsWith2Container">
    <div class="assetsTitleWith2Container flexbox">Reformulate your text with Grammify effortlessly.</div>
    <img src="./../../../assets/tuto/reformulate.png" class="imgWith2Container" alt="" />
  </div>
  <!-- Spell Checker -->
  <div class="assetsWith2Container assets2ContainerSpellChecker">
    <img src="./../../../assets/tuto/spell-checker.png" class="imgWith2Container" alt="" />
    <div class="assetsTitleWith2Container flexbox">Refine your text with Grammify's spell checker</div>
  </div>
</div>
