<div class="technoContainer">
  <!-- Title -->
  <div class="technoTitle">Powered by artificial intelligence, <span class="spelliyTitle">Spelliy</span> offers advanced capabilities</div>
  <!-- Description -->
  <div class="technoDescription flexbox">Experience the power of Spelliy by OpenAI, your trusted AI text refinement companion, for advanced grammar checks, sentence enhancement, and improved writing precision.</div>
  <!-- OpenAI icon -->
  <div class="containerOpenai flexbox">
    <!-- Svg OpenAI -->
    <img src="./../../../assets/others/openai-logo.png" class="logoOpenAI" alt="" />
    <img src="./../../../assets/others/toma_logo.jpg" class="logoOwner" alt="" />
    <div class="titleOpenai">Powered by OpenAI by <a href="https://github.com/thomasperge" target="_blank" class="pseudoTitle">Elthomas</a></div>
  </div>
</div>
