.technoContainer {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: rgb(200, 200, 255) 2.2px solid;
  border-bottom: rgb(200, 200, 255) 2.2px solid;
  margin: 1.2rem 0 0 0;
  padding: 4rem 2rem 2rem 2rem;
  background-color: #edecfd;
}

.technoTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 2rem 0;
  text-align: center;
}

.technoDescription {
  width: 67%;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.containerOpenai {
  width: 67%;
  font-weight: 400;
  text-align: center;  
}

.logoOpenAI {
  background-color: white;
  border-radius: 50%;
  border: rgb(225, 225, 225) 2.5px solid;
  padding: 4px;
}

.titleOpenai {
  font-size: 1.15rem;
  font-weight: 700;
  text-align: center;
}

.logoOwner {
  width: 57px;
  height: 57px;
  transform: translateX(-20px);
  border: rgb(225, 225, 225) 2.5px solid;
  padding: 3px;
  background-color: white;
  border-radius: 50%;
}

.logoOpenAI {
  width: 57px;
  height: 57px;
  border: rgb(225, 225, 225) 2.5px solid;
  padding: 7px;
  background-color: white;
  border-radius: 50%;
}

.spelliyTitle {
  background-image: linear-gradient(204deg, rgba(0,215,255,1) 0%, rgba(33,0,255,1) 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text
}

.pseudoTitle {
  text-decoration: underline;
  color: blue;
}

.contact {
  font-size: 1rem;
  margin: 1rem 0 0 0;
}