<div class="flex">
  <!-- Level Text Parameter -->
  <div class="relative">
    <button (click)="toggleDropdownLevel()" class="font-medium shadow-sm text-gray-900 bg-gray-100 border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-300 focus:text-blue-700 font-medium text-sm px-3 py-2 text-center inline-flex items-center dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white" type="button">
      Level {{ levelSelected }}
      <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
      </svg>
    </button>
    <!-- Dropdown menu -->
    <div [class.hidden]="!isDropdownOpenLevel" class="absolute top-full left-0 mt-1 z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButtonLevel">
        <li>
          <div (click)="setLevelLevel(1)" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Level 1</div>
        </li>
        <li>
          <div (click)="setLevelLevel(2)" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Level 2</div>
        </li>
        <li>
          <div (click)="setLevelLevel(3)" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Level 3</div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Length Text Parameter -->
  <div class="relative ml-4">
    <button (click)="toggleDropdownLength()" class="font-medium shadow-sm text-gray-900 bg-gray-100 border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-300 focus:text-blue-700 font-medium text-sm px-3 py-2 text-center inline-flex items-center dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white" type="button">
      {{ lengthSelected | capitalizeFirstLetter }}
      <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
      </svg>
    </button>
    <!-- Dropdown menu -->
    <div [class.hidden]="!isDropdownOpenLength" class="absolute top-full left-0 mt-1 z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButtonLength">
        <li>
          <div (click)="setLengthLevel('short')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Concise Text</div>
        </li>
        <li>
          <div (click)="setLengthLevel('same')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Text of Equal Size</div>
        </li>
        <li>
          <div (click)="setLengthLevel('long')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Extended Text</div>
        </li>
      </ul>
    </div>
  </div>
</div>
