.emptyComponent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  height: 2.29rem;
}

.textAreaOutput {
  position: relative;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}
