<form [formGroup]="textForm" (ngSubmit)="onSubmitInput(comment.value)">
  <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
    <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800 input">
      <label for="comment" class="sr-only">Your comment</label>
      <!-- Textarea -->
      <textarea #comment id="comment" formControlName="text" (input)="updateLetterCounter()" rows="4" class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400 textAreaOutput input" placeholder="Write or paste your text here"></textarea>
    </div>
    <div class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600">
      <button type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800 inputButton">
        <!-- Change button text based on URL  -->
        <a *ngIf="isTranslateRouteActive()">Translate</a>
        <a *ngIf="isReformulateRouteActive()">Reformulate</a>
        <a *ngIf="isSpellCheckerRouteActive()">Spell Checker</a>
      </button>

      <!-- Number of caracter per input -->
      <div [ngClass]="{'redLetterCount': letterCount >= 950}">{{ letterCounter }}</div>
    </div>
  </div>
</form>
