.redLetterCount {
  color: red;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%);
}


.warningUsagesContainer {
  color: red;
  font-size: 0.9rem;
  padding: 0 0 0 .8rem;
  font-weight: 400;
}