.translate-lang-area {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-between;
}

.centerFlag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  margin-left: 5px;
}