<div class="translate-lang-area">
  <div class="inline-flex rounded-md shadow-sm" role="group">
    <!-- France Button - Translate -->
    <button (click)="redirectToTranslatePage('fr')" [ngClass]="{ 'ring-2 ring-blue-300 z-10': activeButton === 'fr' }" id="fr" type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-gray-100 border border-gray-200 rounded-l-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-300 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
      <div class="w-4 h-4 mr-2">
        <img src="./../../assets/flag/flag-wf-svgrepo-com.svg" alt="" />
      </div>
      France
    </button>
    <!-- England Button - Translate -->
    <button (click)="redirectToTranslatePage('en')" [ngClass]="{ 'ring-2 ring-blue-300 z-10': activeButton === 'en' }" id="en" type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-gray-100 border-t border-b border-gray-200 border-l border-r hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-300 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
      <div class="w-4 h-4 mr-2">
        <img src="./../../assets/flag/flag-us-svgrepo-com.svg" alt="" />
      </div>
      England
    </button>
    <!-- Spanish Button - Translate -->
    <button (click)="redirectToTranslatePage('sp')" [ngClass]="{ 'ring-2 ring-blue-300 z-10': activeButton === 'sp' }" id="sp" type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-gray-100 border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-300 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
      <div class="w-4 h-4 mr-2">
        <img src="./../../assets/flag/flag-es-svgrepo-com.svg" alt="" />
      </div>
      Spanish
    </button>

    <!-- Dropdown button - Translate -->
    <button (click)="toggleDropdownLang()" [ngClass]="{ 'ring-2 ring-blue-300 z-10': activeButton === 'dd' }" id="dd" type="button" class="inline-flex items-center px-0 py-1 text-sm font-medium text-gray-900 bg-gray-100 border border-gray-200 rounded-r-md hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-300 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
      <div class="w-4 h-2 mr-3">
        <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
        </svg>
      </div>
    </button>

    <div class="relative ml-4">
      <div [class.hidden]="!isDropdownOpenLang" class="absolute top-full right-0 mt-1 z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButtonLength">
          <li>
            <!-- France Countrie -->
            <div (click)="setLang()" class="flex px-4 py-2 font-medium hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
              <div class="centerFlag w-4 mr-2">
                <img src="./../../assets/flag/flag-wf-svgrepo-com.svg" alt="" />
              </div>
              France
            </div>
          </li>
          <li>
            <div (click)="setLang()" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Text of Equal Size</div>
          </li>
          <li>
            <div (click)="setLang()" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Extended Text</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
