<div class="keywordContainer flex flex-col gap-12 mb-20" style="padding: 0 16%;">
  <div class="flex flex-col gap-3">
    <h1 class="title flex items-center justify-center text-center text-4xl text-slate-600 font-semibold">{{ title }}</h1>
    <h2 class="description flex items-center justify-center text-center text-lg text-slate-700 font-medium">
      {{ description }}
    </h2>
  </div>
  <!-- Paragraphe Container -->
  <div class="paraContainer flex flex-col gap-6 font-light">
    <!-- Paragraphe 1 -->
    <div class="para flex gap-8">
      <h3 class="text1 flex items-center justify-center text-lg">
        {{ paragraphe1 }}
      </h3>
      <img src="./../../../assets/keywords/assets_keyword_spelliy.svg" alt="Travel itinerary - Spelliy" class="img1 w-52" />
    </div>
    <!-- Paragraphe 2 -->
    <div class="para flex gap-8 flex-row-reverse">
      <h3 class="text2 flex items-center justify-center text-lg">
        {{ paragraphe2 }}
      </h3>
      <img src="./../../../assets/keywords/translator_students_img.svg" alt="Student itinerary - Spelliy" class="img2 w-52" />
    </div>
    <!-- Paragraphe 3 -->
    <div class="para flex gap-8">
      <h3 class="text3 flex items-center justify-center text-lg">
        {{ paragraphe3 }}
      </h3>
      <img src="./../../../assets/keywords/translator_global_img.svg" alt="Network itinerary - Spelliy" class="img3 w-52" />
    </div>
  </div>
</div>
