<div *ngIf="!isSmallScreen && !isLoading">
  <!-- NavBar -->
  <app-navbar *ngIf="isDisplayNavBar"></app-navbar>

  <!-- Component -->
  <router-outlet></router-outlet>

  <!-- Keywords Container -->
  <ng-container *ngIf="isTranslateRouteActive()">
    <app-keywords
      [title]="'Efficient Translation by Spelliy\'s AI-Powered Tool'"
      [description]="'Discover Spelliy\'s AI-driven online translation tool for fast, precise results. Translate effortlessly for work, travel, or international communication'"
      [paragraphe1]="
        'Spelliy\'s AI-driven translation tool ensures fast and accurate translations, simplifying language barriers for efficient work, seamless travel, and effective international communication. Our state-of-the-art AI technology optimizes the translation process, ensuring both accuracy and user-friendliness'
      "
      [paragraphe2]="
        'Overcome language barriers with Spelliy\'s AI translator, which supports multiple languages. Our AI-driven tool ensures user-friendly data privacy while enabling you to explore new cultures. Whether for business or personal exploration, our AI technology serves as a reliable companion in navigating the diverse linguistic landscape'
      "
      [paragraphe3]="
        'Embark on global adventures with confidence using Spelliy\'s AI-powered translator. Our online translation tool, enhanced by AI, simplifies international interactions. It\'s ideal for work, study, leisure, and the discovery of new cultures, all in an efficient and user-friendly manner. Join Spelliy and unlock the potential of AI-driven translation'
      "
    >
    </app-keywords>
  </ng-container>

  <ng-container *ngIf="isReformulateRouteActive()">
    <app-keywords
      [title]="'Effortless Online Text Paraphrasing with Spelliy'"
      [description]="'Discover Spelliy\'s online text paraphrasing tool for quick, accurate rephrasing. Effortlessly rephrase text for work, study, or content optimization'"
      [paragraphe1]="'Spelliy\'s online text paraphrasing tool offers fast and precise rephrasing, simplifying content optimization for improved work, study, and online communication. Our advanced AI technology ensures accuracy and user-friendly results'"
      [paragraphe2]="
        'Say goodbye to cumbersome rephrasing with Spelliy\'s text paraphrasing tool. Our AI-driven tool supports multiple languages, providing user-friendly data privacy while enabling seamless content optimization. Whether for business or personal content, our AI technology makes rephrasing a breeze'
      "
      [paragraphe3]="
        'Optimize your content with ease using Spelliy\'s AI-powered text paraphrasing tool. Our online rephrasing tool, enhanced by AI, simplifies content optimization across various domains, including work, study, and online communication. With our intuitive AI tool, you can effortlessly enhance your content. Join Spelliy for the power of AI-driven text paraphrasing'
      "
    >
    </app-keywords>
  </ng-container>

  <ng-container *ngIf="isSpellCheckerRouteActive()">
    <app-keywords
      [title]="'Flawless Online Spelling Correction with Spelliy'"
      [description]="'Explore Spelliy\'s online spelling correction tool for precise, efficient corrections. Effortlessly correct text for work, study, or content perfection'"
      [paragraphe1]="'Spelliy\'s online spelling correction tool provides fast and precise corrections, enhancing text for improved work, study, or online communication. Our advanced AI technology ensures accuracy and user-friendly results'"
      [paragraphe2]="
        'Bid farewell to spelling errors with Spelliy\'s spelling correction tool. Our AI-driven tool supports multiple languages, offering user-friendly data privacy while enabling seamless content perfection. Whether for business or personal content, our AI technology makes spelling correction a breeze'
      "
      [paragraphe3]="
        'Perfect your content with ease using Spelliy\'s AI-powered spelling correction tool. Our online correction tool, enhanced by AI, simplifies content perfection across various domains, including work, study, or online communication. With our intuitive AI tool, you can effortlessly enhance your text. Join Spelliy for the power of AI-driven spelling correction'
      "
    >
    </app-keywords>
  </ng-container>

  <!-- Footer -->
  <footer>
    <app-footer></app-footer>
  </footer>
</div>

<!-- Loading -->
<div *ngIf="isLoading" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
  <div role="status">
    <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="currentColor"
      />
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentFill"
      />
    </svg>
  </div>
</div>

<!-- Mobile -->
<div *ngIf="isSmallScreen">
  <app-mobile></app-mobile>
</div>
