<div class="mobileContainer">
  <!-- Logo -->
  <div class="logoContainer">
    <img class="logoStop" src="./../../../assets/others/unavailable-svgrepo-com.svg" alt="Unavailable" />
    <div class="logoImgContainer">
      <img class="logoImg" src="./../../../assets/logo.png" alt="Spelliy" />
    </div>
    <div class="errorMsg">Unavailable</div>
  </div>
  <!-- Text -->
  <div class="mobileTitleContainer">
    <div class="title1">Your screen size is too small to support the application 🥵.</div>
    <div class="title2">The recommended minimum screen resolution is 370px wide</div>
  </div>
  <!-- Footer -->
  <div class="footerContainer">@Spelliy</div>
</div>
